<%- include("partials/header")-%>

    <h1>Home</h1>
    <p>
        <% blogsList.forEach((blog)=>{%>
            <h2>
                <%=blog.name%>
            </h2>
            <p class="truncate">
                <%=blog.content.substring(0,100)+"..."%>
                    <a href="posts/<%=blog._id%>"><button type="button" class="btn btn-link">
                            Read more
                        </button></a>
            </p>

            <%})%>
    </p>

    <%- include("partials/footer")-%>