<%- include("partials/header")-%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
            <% posts.forEach((post)=>{%>
                <h1>
                    <%=post.postTitle%>
                </h1>
                <p class="truncate">
                    <%=post.postBody.substring(0,100)+"..."%>
                        <a href="<%=post.postLink%>"><button type="button" class="btn btn-link">
                                Read more
                            </button></a>
                </p>

                <%})%>
    </p>

    <%- include("partials/footer")-%>